@media (max-width: 68em) {
  * {
    font-size: 15px;
  }
  .testimonials {
    gap: 1.5rem;
    display: grid;
    grid-template-columns: auto auto;
  }
  html {
    font-size: 56.25%;
  }
  .Satish {
    padding: 2rem 1rem 1.8rem 1rem;
  }
  .female {
    grid-column: 1/-1;
    justify-self: center;
    align-self: center;
    max-width: 60rem;
  }
  .footer-location p {
    line-height: 1.4;
  }
  .footer-grid {
    grid-template-columns: 5fr 1.5fr 1.5fr 1.5fr 1.5fr;
  }
}
@media (max-width: 50em) {
  html {
    font-size: 50%;
  }
  .forms {
    column-gap: 1rem;
  }
  .footer-location,
  .contacts-container {
    grid-column: span 2;
  }
  .footer-location p {
    font-size: 1.8rem;
  }
  .contacts-container {
    justify-self: center;
  }
  .footer-logos-container {
    grid-column: -2/-1;
    grid-row: 2/3;
  }
  .footer-grid {
    grid-template-columns: repeat(5, 1fr);
  }
  .footer-links {
    justify-self: center;
    grid-column: span 2;
  }
  .footer-links li {
    font-size: 1.9rem;
  }
}
@media (max-width: 44em) {
  * {
    font-size: 14px;
  }
  .stay-productive {
    flex-direction: column;
    gap: 2rem;
  }
  .forms {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  .testimonials {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .Satish {
    justify-self: center;
    align-self: center;
    max-width: 60rem;
  }
  .middlepart-grid {
    grid-template-columns: 1fr;
  }
  .footer-fylo {
    width: 12rem;
  }
  footer {
    margin-top: 15rem;
  }
  .footer-location p {
    font-size: 1.4rem;
  }
  .form-container {
    padding: 1.3rem;
  }

  .contacts img {
    width: 1.8rem;
  }
}
@media (max-width: 37em) {
  .footer-grid {
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    column-gap: 1rem;
  }
  .contacts p {
    font-size: 1.4rem;
  }
  .footer-links li {
    font-size: 1.6rem;
  }
}
@media (max-width: 32em) {
  .footer-location {
    grid-column: span 3;
  }
  .footer-logos-container {
    grid-column: -2/-1;
    grid-row: 3/4;
  }
  .form-container {
    width: 35rem;
  }
  .footer-grid {
    margin-top: 5rem;
  }
  footer {
    padding: 15rem 1rem 5rem 1rem;
  }
  .footer-links li {
    font-size: 1.5rem;
  }
  .footer-logos {
    padding: 0.4rem;
    font-size: 1.5rem;
  }
  .attribution a {
    font-size: 1.5rem;
  }
  .form-container {
    padding: 1.3rem 0.6rem;
  }
}
